{% extends 'layouts/base.html.twig' %}

{% block title %}Création de la demande
{% endblock %}


{% block body %}

<main>

	<div class="container text-center col-sm-6">

		<h1>Création de la demande</h1>

		{{ form(demandeForm) }}

	</div>

</main>

{% endblock %}
