<div class="jumbotron mt-3 bg-sweet ">
			
    <div class="container text-center">

        {{form_start(form)}}

        <div class="form-row text-center">

            <div class="col">
                {{form_row(form.codePostal)}}
            </div>

            <div class="col pl-5">
                {{form_row(form.domaine)}}
            </div>

            <div class="col">
                <button class="btn btn-primary">Rechercher</button>
            </div>
                {{form_end(form)}}
        </div>
        
    </div>

</div>