{% extends 'layouts/base.html.twig' %}

{% block title %}Création de l'offre
{% endblock %}


{% block body %}

<main>

	<div class="container text-center col-sm-6">

		<h1>Création de l'offre</h1>

		{{ form(offreForm) }}

	</div>

</main>

{% endblock %}
