{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier mes données personelles
{% endblock %}


{% block body %}

<main>

	<div class="container text-center col-sm-6 mt-5">

		<h1>Modifier mes données</h1>

		{{ form(infosForm) }}

	</div>

</main>

{% endblock %}