{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier une Offre
{% endblock %}


{% block body %}

<main>

	<div class="container text-center col-sm-6">

		<h1>Modifier l'offre</h1>

		{{ form(offreForm) }}

	</div>

</main>

{% endblock %}
