{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier l'utilisateur
{% endblock %}


{% block body %}

<main>

	<div class="container  col-sm-6">

		<h1 class="mt-3 pb-3">Modifier l'utilisateur</h1>

		{{ form(userForm) }}
	
	</div>

</main>
    
{% endblock %}
